.container {
    max-width: 100%;
    width: 600px;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
}

.container form {
    max-width: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.container form input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.results p {
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

@media screen and (max-width:599px) {
    .container form {
        margin: 10px 10px 10px 10px;
    }
    .results p {
        margin: 10px 10px 10px 10px;
    }
}